<th:block th:fragment>
    <footer id="footer">
        <div class="row footer-container">
            <div class="col col-md-6 footer-blocks-centered">
                <h3>Контакти</h3>
                <p>
                    За допълнителна информация:
                </p>
                <p>
                    GSM: 088 500 8564
                </p>
                <p>
                    e-mail: sdcfoundation.2016@gmail.com
                </p>
            </div>
            <div class="col col-md-6 footer-blocks-centered">
                <h3>Партньори</h3>
                <p>
                    <a href="http://www.doseoflove.org/" target="_blank">Сдружение "Доза обич"</a>
                </p>
                <p>
                    <a href="https://krasimirnivanov.wordpress.com" target="_blank">Красимир Иванов - душевно здраве</a>
                </p>
                <p>
                    <a href="http://www.sveti-nikolai.com/">Православен храм „СВ. НИКОЛАЙ СОФИЙСКИ”</a>
                </p>
            </div>
        </div>
    </footer>
</th:block>