<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link th:href="@{/css/reset.css}"  rel="stylesheet" >
<link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" >
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<th:block th:fragment>
    <div class="m-5 p-5">
        <h1 class="text-center text-dark">Registration successful</h1>
        <hr class="hr-2 bg-dark w-25">
        <h2 class="text-center" style="padding-top: 122px">Registration successful. Please wait to administrator to approve your application.</h2>
    </div>
</th:block>
