<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <link th:href="@{/css/reset.css}"  rel="stylesheet" >
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" >
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
<th:block>

    <th:block th:if="${page != null}">
        <div class="container">
            <th:block th:text="${page.editordata}" />
        </div>
    </th:block>
    <th:block th:if="${page == null}">
        <div class="div-centered img-center p-3">
            <img src="https://res.cloudinary.com/stefan-cloud/image/upload/v1654613916/fondation_logo_kvsgyn.png"
                 alt="Фондация Социално развитие и култура" height="125px">
        </div>
        <div class="flex-fill p-4">
            <h1 class="text-center">Фондация Социално развитие и култура</h1>
        </div>

        <div class="container">
            <h5>
                Етапи на приемане на зависимостта
                За успешното лечение на всяка зависимост, както и за семействата и
                близките на зависимите е от изключителна важност да са запознати
                със зависимостта във възможно най-много детайли.
                По-надолу накратко ще представя основните моменти от развитие на
                оздравителният процес на зависимостта. Това знание е нужно, за да можем
                да имаме правилното разбиране, какво се случва със зависимия, както и да
                търсим съответното поведение от наша страна. Една от основните характеристики
                и психологически механизми на зависимостта  е отричането на болестта, като такава.
                Бих казал, че това е болест, която отрича сама себе си. Започвайки своето лечение
                зависимият преминава през трудния процес на приемане на болестта, като не винаги се стига
                до нейното приемане. Въпреки това пациентите декларират, че приемат зависимостта си.
                Поради различни причини се самозаблуждават и не осъзнават напълно същността на приемането,
                смятат, че тази декларация е част от условията, които са длъжни да изпълняват,
                за да „преминат“ през терапията. В двата случая няма истинско приемане на зависимостта,
                това може много лесно да доведе до рецидив на болестта. Самото осъзнаване
                и приемане на болестта дава шанс за успешно здравеене, за което отговорност
                носи единствено болния. Без приемане на болестта не може да се говори за здравеене.
                Не може да се лекува човек, който не признава, че е болен.Това не означава,
                че всички ние трябва да стоим и да чакаме зависимия да признае болестта си
                и да започне да се лекува. В процеса на лечение всеки зависим получава знание за това,
                какво е болестта, както и  започва да усеща хубавата страна на това да е чист.
                Тези, както и други неща за които ще стане дума по-долу повишават многократно вероятността,
                зависимият човек да приеме болестта си, както и да направи качествена промяна в живота си.
            </h5>
        </div>
    </th:block>
</th:block>